* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Tahoma, sans-serif;
}

/*---GLOBAL STYLE---*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

a:link,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

p {
  margin-bottom: 0.5em;
}

ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

code {
  font-size: 18px;
}

/*---Main style---*/
.container {
  padding: 1em;
}

section {
  width: 100%;
  margin-bottom: 2em;
}

main {
  padding: 1em 0;
}

.section-desc {
  padding-left: 0.5em;
}

/* section1 */
/* section2 */
/* section3 */
/* section4 */
/* section5 */
.ele-selector p {
  text-align: center;
  color: red;
}

/* section6 */
/* section7 */
/* section8 */
/* section9 */
/* section10 */
/* section11 */
/* section12 */
.flex {
  display: flex;
  background: cyan;
  margin: 25px 0;
  width: 450px;

}

.flex-2 {
  display: flex;
  flex-wrap: wrap;
  background: cyan;
  margin: 25px 0;
  width: 450px;
  height: 150px;
}

.flex div,
.flex-2 div {
  width: 75px;
  height: auto;
  background: lightblue;
  border: 1px solid black;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fd-row {
  flex-direction: row;
}

.fd-row-rev {
  flex-direction: row-reverse;
}

.fd-col {
  flex-direction: column;
}

.fd-col-rev {
  flex-direction: column-reverse;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.fw-wrap-rev {
  flex-wrap: wrap-reverse;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.ac-stretch {
  align-content: stretch;
}

.as-start {
  align-self: flex-start;
}

.as-center {
  align-self: center;
}

.as-end {
  align-self: flex-end;
}

.as-stretch {
  align-self: stretch;
}

.as-baseline {
  align-self: baseline;
}

.order-1 {
  order: 1;
}

.flex-2.ai-baseline div {
  position: relative;
}


.flex-2.ai-baseline div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid red;
}

.grid {
  display: grid;
  margin-bottom: 20px;
  border: 3px solid black;
}

.grid div {
  /* width: 75px;
  height: 75px; */
  min-width: 75px;
  max-width: auto;
  min-height: 75px;
  max-height: auto;
  background: red;
  border: 5px solid blue;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  grid-column: 1 / 3;
  /* Item này sẽ chiếm các cột từ cột 1 đến trước cột 3 */
}

.grid-item-2 {
  grid-row: 2 / 4;
  /* Item này sẽ chiếm các hàng từ hàng 1 đến trước hàng 3 */
}

.grid-item-3 {
  grid-column: 1 / span 3;
  /* Item này sẽ chiếm 2 cột bắt đầu từ cột 1 */
}

.grid-item-4 {
  grid-area: 1 / 2 / 3 / 4;
  /* Item này sẽ chiếm các cột từ cột 1 đến trước cột 3 và các hàng từ hàng 2 đến trước hàng 4 */
}

.grid-item-5 {
  grid-area: 1 / 1 / span 2 / span 3;
  /* Item này sẽ chiếm 3 cột bắt đầu từ cột 1 
                                        và 2 hàng bắt đầu từ hàng 1 */
}

.grid-item-header {
  grid-area: header;
}

.grid-item-content {
  grid-area: content;
}

.grid-item-footer {
  grid-area: footer;
}

.grid-item-sidebar {
  grid-area: sidebar;
}

.grid-temp-areas-example {
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

.grid-temp-areas-example-2 {
  grid-template-areas:
    'header header header'
    'sidebar content content'
    'sidebar footer footer';
}

.grid-temp-areas-example-3 {
  grid-template-areas:
    'header header .'
    'content content content'
    'footer footer footer';
}

.grid-temp-areas-example-4 {
  grid-template-areas:
    'header header .'
    'content content content';
}

.header-box {
  grid-row-start: 1;
  grid-row-end: 4;
}

.content-box {
  grid-column-start: 2;
  grid-column-end: 5;
}

/* section13 */
/* section14 */
/* section15 */
/* section16 */